* {
  color: rgb(235, 238, 255);
}

.hidden {
  display: none;
}

body {
  background-color: rgb(47 63 115);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

.post-container {
  margin: 50px auto;
}
.blank {
  margin: 50px auto;
}

.header,
.contentContainer {
  background-color: rgb(10 19 59);
  border-radius: 20px;
  width: 800px;
  height: 50px;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: rgb(47 63 115);
  height: 20px;
  position: relative;
  left: 10px;
}

input, button {
  text-decoration: none;
  background-color: rgb(9 19 59);
  border: none;
  border-radius: 10px;
  height: 20px;
  color: rgb(235, 238, 255);
}



.title {
  margin-left: 30px;
  text-align: center;
  flex: 1;
}



.paginator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paginator > *:not(span) {
  width: 30px;
}

a:hover, 
.paginator > *:hover:not(span){
  opacity: .5;
  transition: .2s;
}


.paginator .next{
margin-left: 200px;
}

.paginator .prev{
  margin-right: 200px;
}
